#container {
  width: 600px;
  background-color: powderblue;
  padding: 30px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
}


.update_todo_input {
  display: none;
}

h1 {
  text-align: center;
}

#todo_input {
  display: flex;
  gap: 10px;
}

#todo_input input {
  flex-grow: 2;
}

#todo_input button {
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  height: 30px;
  margin: 5px 0;
  padding: 0 5px;
  border-radius: 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo_text {
  flex-grow: 1;
}

.todo_btns {
  display: flex;
  gap: 5px;
}

button {
  background-color: powderblue;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: skyblue;
}

button:active {
  background-color: blue;
  color: white;
}